force-app/main/default/flows/Bed_allocation_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_bed_collection</name>
        <label>Add bed collection</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AllUnoccupiedBeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Bed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Bed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_bed_collection</name>
        <label>Copy 1 of Add bed collection</label>
        <locationX>1634</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AllUnoccupiedBeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Loop_for_Bed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Loop_for_Bed</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Choose_first_unoccupied_bed</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Choose first unoccupied bed</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AllUnoccupiedBeds</collectionReference>
        <connector>
            <targetReference>loop_for_sorted_bed</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Copy_1_of_Choose_first_unoccupied_bed</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Copy 1 of Choose first unoccupied bed</label>
        <locationX>1106</locationX>
        <locationY>1331</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AllUnoccupiedBeds</collectionReference>
        <connector>
            <targetReference>Copy_1_of_loop_for_sorted_bed</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Copy_1_of_Does_it_have_an_unoccupied_bed</name>
        <label>Copy 1 of Does it have an unoccupied bed ?</label>
        <locationX>1766</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loop_for_Bed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Loop_for_Bed.Wards_and_Private_Rooms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Loop_for_Ward.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_bed_collection</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_have_an_unoccupied_bed</name>
        <label>Does it have an unoccupied bed ?</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Bed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Bed.Wards_and_Private_Rooms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_for_Ward.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_bed_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reason_of_Admission</name>
        <label>Reason of Admission</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Wound Care</defaultConnectorLabel>
        <rules>
            <name>A_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A&amp;E</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ward</targetReference>
            </connector>
            <label>A&amp;E</label>
        </rules>
        <rules>
            <name>Acut_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acute Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Ward</targetReference>
            </connector>
            <label>Acut Care</label>
        </rules>
        <rules>
            <name>Admission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admission</stringValue>
                </rightValue>
            </conditions>
            <label>Admission</label>
        </rules>
        <rules>
            <name>Elderly_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elderly Care</stringValue>
                </rightValue>
            </conditions>
            <label>Elderly Care</label>
        </rules>
        <rules>
            <name>Surgery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgery</stringValue>
                </rightValue>
            </conditions>
            <label>Surgery</label>
        </rules>
        <rules>
            <name>Maternity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maternity</stringValue>
                </rightValue>
            </conditions>
            <label>Maternity</label>
        </rules>
        <rules>
            <name>Orthopedics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orthopedics</stringValue>
                </rightValue>
            </conditions>
            <label>Orthopedics</label>
        </rules>
        <rules>
            <name>Oncology</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oncology</stringValue>
                </rightValue>
            </conditions>
            <label>Oncology</label>
        </rules>
        <rules>
            <name>Paediatric</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paediatric</stringValue>
                </rightValue>
            </conditions>
            <label>Paediatric</label>
        </rules>
        <rules>
            <name>Private</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reason_for_Admission__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private Room</stringValue>
                </rightValue>
            </conditions>
            <label>Private</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bed allocation 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bed allocation 2</label>
    <loops>
        <name>Copy_1_of_Loop_for_Bed</name>
        <label>Copy 1 of Loop for Bed</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <collectionReference>Copy_1_of_Get_Bed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Does_it_have_an_unoccupied_bed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Loop_for_Ward</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_loop_for_sorted_bed</name>
        <label>Copy 1 of loop for sorted bed</label>
        <locationX>1106</locationX>
        <locationY>1439</locationY>
        <collectionReference>AllUnoccupiedBeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Allocate_bed_to_the_patient</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Loop_for_Ward</name>
        <label>Copy 1 of Loop for Ward</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <collectionReference>Copy_1_of_Get_Ward</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Loop_for_Bed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Choose_first_unoccupied_bed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Bed</name>
        <label>Loop for Bed</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Bed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_it_have_an_unoccupied_bed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_for_Ward</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_sorted_bed</name>
        <label>loop for sorted bed</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <collectionReference>AllUnoccupiedBeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Allocate_bed_to_the_patient</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_for_Ward</name>
        <label>Loop for Ward</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Ward</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_for_Bed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Choose_first_unoccupied_bed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Bed</name>
        <label>Copy 1 of Get Bed</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Loop_for_Ward</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bed_occupied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bed_Occupancy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Ward</name>
        <label>Copy 1 of Get Ward</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Bed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ward_and_Room_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acute Care</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ward_and_Private_Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bed</name>
        <label>Get Bed</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Ward</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bed_occupied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bed_Occupancy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ward</name>
        <label>Get Ward</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ward_and_Room_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A&amp;E</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ward_and_Private_Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allocate_bed_to_the_patient</name>
        <label>Allocate bed to the patient</label>
        <locationX>138</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>loop_for_sorted_bed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_for_sorted_bed.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bed_occupied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Occupancy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Allocate_bed_to_the_patient</name>
        <label>Copy 1 of Allocate bed to the patient</label>
        <locationX>1194</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>Copy_1_of_loop_for_sorted_bed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_loop_for_sorted_bed.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bed_occupied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Occupancy__c</object>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reason_of_Admission</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AllUnoccupiedBeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bed_Occupancy__c</objectType>
    </variables>
</Flow>
