force-app/main/default/flows/Bed_allocationTrial_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_bed_collection</name>
        <label>Add bed collection</label>
        <locationX>1634</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>AllUnoccupiedBeds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Bed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Bed</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Choose_first_unoccupied_bed</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Choose first unoccupied bed</label>
        <locationX>974</locationX>
        <locationY>1547</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>AllUnoccupiedBeds</collectionReference>
        <connector>
            <targetReference>loop_for_sorted_bed</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Does_it_have_an_unoccupied_bed</name>
        <label>Does it have an unoccupied bed ?</label>
        <locationX>1766</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_for_Bed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_for_Bed.Wards_and_Private_Rooms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_for_Ward.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_bed_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_bed</name>
        <label>Have bed?</label>
        <locationX>1106</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Custom_Error_Message_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllUnoccupiedBeds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_first_unoccupied_bed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_patient_admitted_before</name>
        <label>Is this patient admitted before?</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Ward</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Admission.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Bed allocationTrial 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bed allocationTrial 1</label>
    <loops>
        <name>Loop_for_Bed</name>
        <label>Loop for Bed</label>
        <locationX>1546</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Bed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_it_have_an_unoccupied_bed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_for_Ward</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_for_sorted_bed</name>
        <label>loop for sorted bed</label>
        <locationX>974</locationX>
        <locationY>1655</locationY>
        <collectionReference>AllUnoccupiedBeds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Allocate_bed_to_the_patient</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_for_Ward</name>
        <label>Loop for Ward</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Ward</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_for_Bed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Have_bed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Admission</name>
        <label>Get All Admission</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_patient_admitted_before</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Discharged</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bed</name>
        <label>Get Bed</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Ward</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bed_occupied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bed_Occupancy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ward</name>
        <label>Get Ward</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ward_and_Room_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reason_for_Admission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ward_and_Private_Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Allocate_bed_to_the_patient</name>
        <label>Allocate bed to the patient</label>
        <locationX>1062</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_for_sorted_bed.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bed_occupied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Bed_Occupancy__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>1062</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>loop_for_sorted_bed</targetReference>
        </connector>
        <inputAssignments>
            <field>Bed_Occupancy__c</field>
            <value>
                <elementReference>loop_for_sorted_bed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wards_and_Private_Rooms__c</field>
            <value>
                <elementReference>loop_for_sorted_bed.Wards_and_Private_Rooms__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Admission</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllUnoccupiedBeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bed_Occupancy__c</objectType>
    </variables>
</Flow>
