force-app/main/default/flows/math.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Math</name>
        <label>Math</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Math</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sonuc</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>a</name>
            <value>
                <elementReference>a1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>b</name>
            <value>
                <elementReference>b1</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>math {!$Flow.CurrentDateTime}</interviewLabel>
    <label>math</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>first_number</name>
        <label>first number</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Math</targetReference>
        </connector>
        <fields>
            <name>a1</name>
            <dataType>Number</dataType>
            <fieldText>a</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>b1</name>
            <dataType>Number</dataType>
            <fieldText>b</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sonuc</name>
        <label>Sonuc</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Carpma</name>
            <fieldText>&lt;p&gt;a x b= {!Math.Carpim}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Toplama</name>
            <fieldText>&lt;p&gt;a + b = {!Math.Toplama}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cikarma</name>
            <fieldText>&lt;p&gt;a - b = {!Math.Cikarma}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>first_number</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
