force-app/main/default/flows/Repeater_Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EachContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_contacts.First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_contacts.Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_contacts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Repeater Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Repeater Contact Creation</label>
    <loops>
        <name>Loop_each_contacts</name>
        <label>Loop each contacts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>ContactName.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contatcs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contatcs</name>
        <label>Create Contatcs</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>AllContacts</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Contacts</name>
        <label>Create Contacts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_each_contacts</targetReference>
        </connector>
        <fields>
            <name>ContactName</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>First_Name</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Contacts</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contacts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EachContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
