force-app/main/default/flows/Schedule_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_New_Minute_and_Hour</name>
        <label>Assign New Minute and Hour</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>StartMinuteVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MoreThan60MinutesFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartHourVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Daily_schedule_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Schedule_to_Collection</name>
        <label>Assign Schedule to Collection</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>EachSchedule.Schedule_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachSchedule.Schedule_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeTextFormat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllSchedule</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_60_minutes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_IncreaseStartDay</name>
        <label>Copy 1 of IncreaseStartDay</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>StartDateVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartHourVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartHour.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartMinuteVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartMinute.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllSchedule</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachSchedule</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_the_date_of_weekend_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IncreaseStartDay</name>
        <label>IncreaseStartDay</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>StartDateVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartHourVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartHour.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StartMinuteVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartMinute.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllSchedule</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachSchedule</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_the_date_of_weekend_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LessThan60Minutes</name>
        <label>LessThan60Minutes</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>StartMinuteVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotAddedMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Daily_schedule_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AllScheduleCreation</name>
        <label>Checking Start Date to Schedule</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>During_The_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StartDateVariable</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Finish_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_schedule_Creation</targetReference>
            </connector>
            <label>Yes, Date is available to Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_date_of_weekend_days</name>
        <label>Check the date of weekend days</label>
        <locationX>858</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_IncreaseStartDay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Include</defaultConnectorLabel>
        <rules>
            <name>Include_weekend_days</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR NOT(1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>NameOfTheDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Saturday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NameOfTheDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sunday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllScheduleCreation</targetReference>
            </connector>
            <label>Include weekend days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Daily_schedule_Creation</name>
        <label>Checking Time for Daily schedule Creation</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>CreateDailySchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finished</defaultConnectorLabel>
        <rules>
            <name>During_the_time</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>StartHourVariable</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>FinishHour.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartMinuteVariable</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FinishMinute.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StartHourVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FinishHour.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Schedule_to_Collection</targetReference>
            </connector>
            <label>Available Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNull</name>
        <label>IsNull</label>
        <locationX>858</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Delete_All_Schedule_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllSchedulRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_the_date_of_weekend_days</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_60_minutes</name>
        <label>More than 60 minutes</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>LessThan60Minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TimeSlotAddedMinutes</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Minute_and_Hour</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MoreThan60MinutesFormula</name>
        <dataType>Number</dataType>
        <expression>{!TimeSlotAddedMinutes}-60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NameOfTheDay</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!StartDateVariable})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartDateValidatonFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!Start_Date}&gt;={!Finish_Date}</expression>
    </formulas>
    <formulas>
        <name>StartMinuteFormula</name>
        <dataType>String</dataType>
        <expression>IF({!StartMinute.value}&lt;10, &apos;0&apos;+TEXT({!StartMinute.value}), TEXT({!StartMinute.value}))</expression>
    </formulas>
    <formulas>
        <name>StartTimeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!StartHour.value}&lt;10,&apos;0&apos;+TEXT({!StartHour.value}), TEXT({!StartHour.value}))</expression>
    </formulas>
    <formulas>
        <name>TimeSlotAddedMinutes</name>
        <dataType>Number</dataType>
        <expression>{!StartMinuteVariable}+{!Time_Slot}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TimeTextFormat</name>
        <dataType>String</dataType>
        <expression>IF({!StartHourVariable}&lt;10, &apos;0&apos;+TEXT({!StartHourVariable}), TEXT({!StartHourVariable}))+&apos;:&apos;+IF({!StartMinuteVariable}&lt;10, &apos;0&apos;+TEXT({!StartMinuteVariable}), TEXT({!StartMinuteVariable}))</expression>
    </formulas>
    <interviewLabel>Schedule Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDailySchedule</name>
        <label>CreateDailySchedule</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>IncreaseStartDay</targetReference>
        </connector>
        <inputReference>AllSchedule</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_All_Schedule_Records</name>
        <label>Delete All Schedule Records</label>
        <locationX>946</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Check_the_date_of_weekend_days</targetReference>
        </connector>
        <inputReference>GetAllSchedulRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAllSchedulRecords</name>
        <label>GetAllSchedulRecords</label>
        <locationX>858</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsNull</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Scheduler__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Schedule_Planner</name>
        <label>Schedule Planner</label>
        <locationX>858</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetAllSchedulRecords</targetReference>
        </connector>
        <fields>
            <name>Schedule_Planner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Planner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Start Date can not be less than Today&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Start_Date}&gt;={!$Flow.CurrentDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Planner_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Finish_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Finish Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Finish date can not be less than start date&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Finish_Date}&gt;={!Start_Date}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Schedule_Planner_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Planner_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StartHour</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Start Hour</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>23.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>StartMinute</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Start Minute</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>59.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Start_Time</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Start Time&lt;/strong&gt;: {!StartTimeFormula}:{!StartMinuteFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Planner_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinishHour</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Finish Hour</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>23.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FinishMinute</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Finish Minute</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>59.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Finish_Time</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Finish Time&lt;/strong&gt;: {!FinishHour.value}:{!FinishMinute.value}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Schedule_Planner_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Schedule_Planner_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_Slot</name>
                    <dataType>Number</dataType>
                    <fieldText>Time Slot</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Schedule_Planner_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WeekendOption</name>
                    <fieldText>&lt;p&gt;Please Select weekend days if you want to schedule them.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Saturday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Saturday</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Sunday</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Sunday</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Schedule</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Schedule_Planner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduler__c</objectType>
    </variables>
    <variables>
        <name>EachSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scheduler__c</objectType>
    </variables>
    <variables>
        <name>StartDateVariable</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Start_Date</elementReference>
        </value>
    </variables>
    <variables>
        <name>StartHourVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>StartHour.value</elementReference>
        </value>
    </variables>
    <variables>
        <name>StartMinuteVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>StartMinute.value</elementReference>
        </value>
    </variables>
</Flow>
