force-app/main/default/flows/Undelete_Records_With_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Undelete_Records</name>
        <label>Undelete Records</label>
        <locationX>248</locationX>
        <locationY>1358</locationY>
        <actionName>UndeleteRecords</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Eror_message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>DeletedRecordIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobjectType</name>
            <value>
                <elementReference>ObjectApiName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Ids_to_Collection</name>
        <label>Assign Ids to Collection</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DeletedRecordIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_ID_Collection.Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_ID_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Label_Name</name>
        <label>Assign Object Label Name</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObjectAPINameNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Undelete_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Object_Label</name>
        <label>Assing Object Label</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Undelete_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Object_Label_Name</name>
        <label>Copy 1 of Assign Object Label Name</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>ObjectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_API_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Undelete_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Account</name>
        <choiceText>Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lead</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunity</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Admission</stringValue>
        </value>
    </choices>
    <choices>
        <name>qq</name>
        <choiceText>wwwss</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Object_Label_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not empty</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enter_API_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Object_Label_Name</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Deleted_Record</name>
        <label>Have Deleted Record</label>
        <locationX>677</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Deleted_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Object_Name_Admission</name>
        <label>If Object Name Admission</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Decision_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Object_Label</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdmissionApiSend</name>
        <dataType>String</dataType>
        <expression>IF({!Object_Name}=&apos;Admission&apos;,&apos;Opportunity&apos;, Null)</expression>
    </formulas>
    <formulas>
        <name>DeletedDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()-{!DaysSlider.value}</expression>
    </formulas>
    <formulas>
        <name>ObjectAPINameNew</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Other_Object_Label_Name}), {!Object_Name}, IF({!Is_Custom_Object}=TRUE, SUBSTITUTE({!Other_Object_Label_Name}, &apos; &apos;, &apos;_&apos;)+&apos;__c&apos;, SUBSTITUTE({!Other_Object_Label_Name}, &apos; &apos;, &apos;_&apos;)))</expression>
    </formulas>
    <formulas>
        <name>ObjectLabelNameFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Other_Object_Label_Name}), {!Object_Name}, {!Other_Object_Label_Name})</expression>
    </formulas>
    <interviewLabel>Undelete Records With Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Undelete Records With Flow</label>
    <loops>
        <name>Loop_for_ID_Collection</name>
        <label>Loop for ID Collection</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <collectionReference>DeletedRecords.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Object_Name_Admission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Deleted_Records</name>
        <label>Get Deleted Records</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Deleted_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjectLabelNameFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeletedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DeletedDateFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DeleteEvent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Eror_message</name>
        <label>Eror message</label>
        <locationX>842</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_3</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;There is an error. Error is :&lt;span style=&quot;color: rgb(102, 14, 14);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 14, 14);&quot;&gt;It may be occured because of the API name of object.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(102, 14, 14);&quot;&gt;Please enter API name of the object&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_API_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Enter API Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Deleted_Records</targetReference>
        </connector>
        <fields>
            <name>Object_Name</name>
            <choiceReferences>Opportunity</choiceReferences>
            <choiceReferences>Account</choiceReferences>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Lead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherObjects</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Write Other Objects Label Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Other_Object_Label_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Other Object Label Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OtherObjects.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_Custom_Object</name>
            <dataType>Boolean</dataType>
            <fieldText>Is Custom Object?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OtherObjects.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DaysSlider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>How many days ago</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>Medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Get Deleted Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_for_ID_Collection</targetReference>
        </connector>
        <fields>
            <name>DeletedRecords</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DeleteEvent</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Deleted Records</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Deleted_Records</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;RecordName&quot;,&quot;guid&quot;:&quot;column-d67b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SobjectName&quot;,&quot;guid&quot;:&quot;column-4b9d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DeletedDate&quot;,&quot;guid&quot;:&quot;column-4ecd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Deleted Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Undelete Records</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeletedRecordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
